.App {
    height: 100vh;
    padding: 10px;
    background-color: #1b1b32;
    font-family: Lato sans-serif;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.card-body {
    align-items: center;
    justify-content: center;
}


.container {
    align-items: center;
    justify-content: center;
    display:grid;
    /*grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-template-columns: repeat(2, 2fr);  Dos columnas de ancho igual */
    /*grid-gap: 10px;  Espacio entre los elementos */
}

.mb-3 {
    align-items: center;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;  
}